<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h1>Sample App</h1>
    <p>
      <%= link_to "Home",   root_path %> /
      <%= link_to "Help",   help_path %> /
      <%= link_to "Log in", '#' %>
    </p>
  </div>
</header>